/* VARIABLES */
:root {
  --color: white;
  --color-back1: #310458;
  --color-back2: white;
  --color-back3: #cacbff;
  --color-botton1: #8934d3;
  --color-botton2: #310458;
}

/*--------------------------------------------------------*/
/* ETIQUETAS */
* {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    /*border: 2px solid black;*/
    width: auto;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  header,
  main,
  aside,
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  header,
  nav,
  footer {
    width: 100%;
  }

  main,
  aside {
    height: auto;
    padding: 20px;
  }

  main {
    /*border: 2px solid blue;*/
    width: 65%;
    margin-left: 20px;
    margin-right: 5px;
    background-color: var(--color-back3);
  }

  aside {
    /*border: 2px solid red;*/
    width: 29%;
    margin-left: 30px;
    background-color: var(--color-back3);
  }

  header {
    /*border: 2px solid green;*/
    height: auto;
    padding: auto;
  }

  nav {
    /*border: 2px solid rgb(5, 8, 221);*/
    height: 42px;
    width: 100%;
    padding: 20px;
    align-items: center;
  }

  footer {
    /*border: 2px solid brown;*/
    height: auto;
  }

  form {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    font-family:cursive, sans-serif;
    color: black;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  textarea {
    resize: vertical;
    height: 100px;
  }

  button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: var(--color-botton1);
    border: none;
    color: var(--color);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--color-botton2);
  }

  p {
    text-align: justify;
    font-family:'Times New Roman', Times, serif
  }

  h1, h2, h3, h4, h5, h6, nav {
    font-family:cursive, sans-serif;
    padding: 20px;
  }

/*-----------------------------------------------*/
  /* CLASES */

.menu-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-transform: uppercase; 
    background-color: var(--color-back2);
}

.img-inicio {
    /*margin-left: 550px;*/
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-secundaria {
    /*margin-left: 550px;*/
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 40%;
}

.img-mostrario {
    /*margin-left: 550px;*/
    width: 560px;
    height: 315px;
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15%;
}

.img-principal {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.img-iconogithub {
  /*margin-left: 550px;*/
  width: 55px;
  height: 55px;
  margin-top: 4px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.videos {
    /*margin-left: 550px;*/
    margin-top: auto;
    background-repeat: no-repeat;
    margin-left: 22%;
    width: 560px;
    height: 315px;
}

.audios {
  /*margin-left: 550px;*/
  margin-top: auto;
  background-repeat: no-repeat;
  margin-left: 22%;
}

.color-fondo {
    background-color: var(--color-back1);
    color: var(--color);
}

.color-fondo-2 {
    background-color: var(--color-back20);
}

.centrar-texto {
    text-align: center;
    align-items: center;
}

/*-------------------------------------------*/
/* RESPONSIVE */
/* punto hasta 992px */
@media (max-width: 992px) {
  .img-mostrario {
    width: 500px;
    height: 315px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  .videos {
    background-repeat: no-repeat;
    width: 500px;
    height: 315px;
    margin-top: auto;
    margin-left: 35px;
  }

  main {
    flex: 2;
  }

  aside {
    flex: 1;
  }
  
  footer {
    order: 1;
  }
}

/* punto hasta 768px */
@media (max-width: 768px) {
  .img-mostrario {
    width: 500px;
    height: 315px;
    margin-top: auto;
    margin-bottom: 10px;
  }

  .videos {
    background-repeat: no-repeat;
    width: 500px;
    height: 315px;
    margin-top: auto;
    margin-left: 85px;
  }

  main {
    order: 1;
  }

  aside {
    order: 2;
    background-color: var(--color-back2);
  }

  footer {
    order: 2;
  }
}

/* punto hasta 576px */
@media (max-width: 576px) {
  .img-mostrario {
    width: 420px;
    height: 315px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 35px;
  }

  .videos {
    background-repeat: no-repeat;
    width: 420px;
    height: 315px;
    margin-top: auto;
    margin-left: 35px;
  }

  .menu-1 {
  font-size: 15px;
  }

  header {
    font-size: 18px;
    padding: 15px;
  }

  main, aside {
    padding: 15px;
    font-size: 16px;
  }

  aside {
    background-color: var(--color-back2);
  }

  footer {
    font-size: 14px;
    padding: 10px;
  }
}
