/* ETIQUETAS */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}


main {
    width: 75%;
  }
  
  aside {
    width: 25%;
  }

footer {
    text-align: center;
  }

/* CLASES */

.centrar-texto {
    text-align: center;
    align-items: center;
}

.color-fondo {
    background-color: #310458;
    color: white;
}

.img-inicio {
    margin-left: 550px;
    margin-top: 20px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase; 
}